body {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  background-color: white;
}
.logo {
  width: 155px;
}
.menu {
  width: 155px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 16px;
  color: #4a4a4a;
  padding-top: 10px;
}
.menu-element2 {
  padding-left: 20px;
}

.principal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
}
.text {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
@media all and (min-width: 768px) {
  .cabecera {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
  }
  .text {
    font-size: 40px;
  }
  .menu {
    padding-top: 0px;
  }
}
